.frases {text-align: center;
 
}

.head {color: white;
text-decoration: none;
display: inline-block;
margin-left: 290px;}

.formulario
{  text-align: center;
margin-right: 7px;}

#b1 {
    text-align: center;
    margin-top: 7px;
    
  
}
body{font-size: 16px;
background-color: black;
color: white;}






