*  {margin: 0px;
    padding: 0px;

}
 body{
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
    
 }

#gitlink {
    display: flex; 
    align-items: center; 
    margin-left: 5px;
}

#gitlink img {
    width: 30px;
    height: auto; 
    margin-right: 10px; 
}

#gitlink a {
    color: white; 
    text-decoration: none; 
}
#ytb {
    display: flex;
    align-items: center;
    margin-left: 5px
}

#ytb img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    
}

#ytb a {
    color: white;
    text-decoration: none;



}

#linkedin {
    display: flex;
    align-items: center;
    margin-left: 5px;
}


#linkedin img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    
}

#linkedin a {
    color: white;
    text-decoration: none;

}

.btt {
display: flex;
flex-direction: column;
zoom: 1.3;

}











